.hero-heading{
	font-weight: 600;
	line-height: 1.2;
	font-size: 50px;
	z-index: 2;
	position: sticky;
}
.hero-sub-heading{
	width: 65%;
	z-index: 2;
	position: sticky;
}
.hero .row{
	display: flex;
	align-items: center;
}
.more-info-btn{
	color: #fff !important;
	border-radius: 8px !important;
	padding: 8px 12px !important;
	font-weight: 500 !important;
	z-index: 2;
	position: sticky;
}
.img-bg-inner{
	position: absolute;
	z-index: 1;
	top: -20px;
	width: 70%;
}
.hero{
	margin-top: 50px;
}
.right-yellow{
	width: 80%;
	display: table;
	margin-left: auto;
	position: relative;
}
.frame{
	position: absolute;
	top: 150px;
	left: 100px;
	width: 400px;
}
.bg-shape{
	position: absolute;
	width: 50%;
	z-index: -2;
	top: -40px;
}
.sliderss{
	margin-top: 25px;
	margin-bottom: 40px;
}
.slider-box{
	background-color: #ece5d5;
	padding: 20px;
	border-radius: 10px;
	box-shadow: #0000001a 0px 4px 12px;
}
.iconn{
	width: 70px;
}
.aminities-section{
	background-color: #FCF7E3;
	padding: 50px 0px;
	position: relative;
	/* animation: hero-shape-2 1s linear 5s infinite alternate; */
}
.amin-txt{
	padding-bottom: 30px;
}
.bg-imgg{
	/* position: absolute;
	width: 40% 	;
	top: -200px;
	z-index: 4;
	right: 0;
	rotate: 17deg; */
	margin-top: -120px 	;
}
.counts{
	background-color: #F9F2E1;
	padding-bottom: 80px;
}
.count-section{
	padding: 20px;
	border-radius: 10px 10px 50px 10px;
	background-color: #D19C2A;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 80px auto 40px auto;
}
.number{
	font-size: 50px;
	text-align: center;
}
.count-dv{
	color: #F9F2E1;
}
.txt-sub-count{
	font-size: 18px;
}
.testimonial-header{
	padding: 20px 20px;
	border-radius: 15px;
}
.user-img{
	width: 60px;
	padding-right: 20px;
}
.testimonial-head{
	padding-bottom: 15px;
}
.txt-user-data{
	font-size: 19px;
	text-transform: uppercase;
}
.user-details{
	display: flex;
	align-items: center;
}
.sub-testi{
	padding-top: 20px;
}
.y{
	background-color: #e7d9b9;
}
.ym{
	background-color: #dbd7cf;
}
/* footer  */
footer{
	background-color: black;
	padding: 40px 0px;
}
/* .footer-inner{

} */
.sub-txt-footer{
	color: #dddddd;
	font-weight: 300;
	font-size: 13px;
}
.footer-logo{
	width: 200px;
	margin-bottom: 20px;
}
.footer-link a{
	color: #dddddd !important;
}
.head-footer{
	color: #fff;
	padding-bottom: 25px;
}
.footer-link{
	margin-bottom: 11px;
	font-weight: 300;
}
.head-footer-sub{
	color: #dddddd;
	padding-bottom: 5px;
}
.icons a i{
	color: #fff;
	font-size: 24px;
	margin-right: 15px;
}
.icons{
	margin-bottom: 9px;
}
.txt-copy{
	color: #dddddd;
	text-align: center;
}
.copy{
	padding-top: 25px;
}
.vedio-section{
	margin-bottom: -5px;
}
video {
	width: 100%;
	height: 450px;
	object-fit: cover; /* Scales video to fit container, maintaining aspect ratio */
}
.rating i{
	font-size: 18px;
	color: #D19C2A;
}
/* .news-box{

}
.news-image{

} */
.news-updates{
	background-color: #f7ecd3;
	padding: 50px 0px;
}
.time-news{
	display: flex;
	align-items: center;
	padding: 10px 0px 5px 0px;
}
.time-txt-news{
	margin-bottom: 0px !important;
	padding-left: 10px;
}
.news-heading{
	margin: 0;
	font-size: 19px;
	padding-bottom: 10px;
}
.news-sub-heading{
	color: #978e8e;
}
.ri-heart-line{
	font-size: 18px;
	cursor: pointer;
}
.btn-readmore-news{
	border-radius: 7px !important;
	padding: 8px 15px !important;
	background-color: #b89c20;
	color: #fff;
} l
.btn-like{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btn-readmore-news:hover{
	color: #fff !important;
}
/* ABOUT  PAGE  */
.heading-page-about{
	border-bottom: 3px solid #D19C2A;
	width: max-content;
	padding-bottom: 3px;
	margin-bottom: 15px;
}
.heading-about{
	margin-top: 100px;
	font-weight: 600;
}
.heading-about ul li{
	list-style: circle !important;
}
.mission-dv{
	margin-left: 30px !important;
}
.about-img-g{
	width: 75% !important;
	display: table !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.about-pg{
	margin-top: 50px !important;
	display: flex;
	align-items: center;
}
.about-dv{
	width: 100%;
}
.heading-about-sub p{
	text-align: justify;
}
.vision-txt-2{
	font-size: 15px;
	text-align: justify;
}
.chairman-dv{
	margin-top: 50px;
}
.social-media-txt{
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	padding: 50px 0px;
}
.media-dv{
	margin-bottom: 20px;
}
 .ecole-testi i{
	font-size: 25px;
	background-color: #D19C2A;
	padding: 10px;
	border-radius: 50%;
	color: #fff; 
 }
.testimonial-head{
	padding-top: 70px;
}
.news-box-details{
	margin-bottom: 40px;
}
.newww{
	margin-top: 50px;
}
.newww .btn-like{
	margin-top: 30px;
}
.media-row{
	margin-top: 50px;
}
.botmm{
	margin-bottom: 50px;
}
.heading-about-sub{
	padding: 30px 0px 0px 0px;
}
.btm{
	margin-bottom: 50px;
}
.btn-like{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.chairman-dv {
	margin-top: 50px;
}
.grey-bg{
	background-color: #f6f6e9;
}
.special-programe{
	margin-bottom: 30px;
}
.bg-main-special{
	background-image: url('../images/texture.jpg');
	min-height: 100vh;
	position: relative;
	z-index: 5;
	padding-bottom: 50px;
}
.special-programe-row{
	padding-top: 140px;
}
.special-img-dv{
	width: 80%;
}
.logo-programme-w{
	width: 100px;
	margin-bottom: 18px;
}
.logo-programme{
	width: 200px;
	margin: 20px 0px;
}
.programme-sub-head-sub{
	font-size: 16px;
	width: 60%;
	padding-bottom: 0px;
}
.programme-sub-head{
	font-size: 21px;
	width: 50%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 5px;
}
.programme-head{
	padding-top: 5px;
}
.special-programe-row .row{
	padding-bottom: 50px;
}
.lang{
	width: 250px;
}
.txt-sub-programme{
	margin-top: 0px !important;
}
.list-txt-programme{ 
	font-size: 17px;
	margin-bottom: 0px !important;
	padding-bottom: 4px;
}
.list-txt-programme i{
	margin-right: 15px;
}
.lists{
	margin-top: 15px;
}
.topp{
	margin-top: 35px !important;
}
.sc-imgg{
	width: 290px;
	margin-top: 12px;
}















/* responsive  */
@media (max-width:1600px) {
	.container-main{
		width: 85%;
		margin: auto;
	}
	.logo-main{
		width: 200px;
	}
}
@media (max-width:1400px) {
	.logo-main{
		width: 200px;
	}
	.item-nav ul li {
    padding: 0px 20px;
    font-size: 16px;
		}
}
@media (max-width:1200px) {
	.about-pg {
    margin-top: 50px !important;
    display: block;
	}	
}
@media (max-width:1100px) {
	.item-nav ul li {
		font-size: 15px;
	}
	.logo-main {
		width: 180px;
	}
	.container-main {
		width: 90%;
	}
}
@media (max-width:991px) {
	.item-nav ul li{
		display: none;
	}
	.item-nav i{
		display: block;
		font-size: 24px;
	}
	.about-img-g {
    width: 40% !important;
	}
}
@media (max-width:800px) {
	.media-row {
		margin-top: 13px;
	}
	.about-img-g {
    width: 45% !important;
	}
}
@media (max-width:600px) {
	.logo-main {
		width: 145px;
	}
	.bg-shape {
    width: 100%;
    top: -14px;
	}
	.heading-page-about {
		margin-top: 4px !important;
    font-size: 18px;
	}
	.botmm {
    margin-bottom: 32px;
	}
	.item-nav i {																																													
		display: block;
		font-size: 22px;
	}
	.footer-logo {
    width: 170px;
    margin-bottom: 20px;
	}
	.sub-txt-footer {
    padding-bottom: 10px;
	}
	.chairman-dv {
    margin-top: 18px;
	}
	.vision-txt-2 {
    font-size: 14px;
    text-align: justify;
	}
	.heading-about-sub {
    padding: 17px 0px 0px 0px;
	}
	.about-img-g {
    width: 60% !important;
		padding-bottom: 30px;
	}
	.heading-about {
    margin-top: 0px;
    font-weight: 500;
	}
	.programme-sub-head-sub {
    font-size: 15px;
    width: 100%;
    padding-bottom: 5px;
    text-align: justify;
	}
	.programme-sub-head {
    font-size: 18px;
    width: 100%;
    margin-top: 0px;
    line-height: 1.3;
    margin-bottom: 0px;
    padding-bottom: 0px;
	}
	.programme-head {
    padding-top: 0px;
	}
	.special-programe-row {
    padding-top: 5px;
	}
	.special-programe-row .row {
    padding-bottom: 20px;
	}
	.special-img-dv {
    width: 80%;
    padding-top: 26px;
	}
	.chairman-d{
		margin-top: 14px;
	}
}
@media (max-width:450px) {
	.logo-programme {
		width: 170px;
		margin: 20px 0px;
	}
	.chairman-dv {
		margin-top: 5px;
	}
	.acadamics-pg{
		margin-top: 20px;
	}
}











